* {box-sizing: border-box;}

body {

    background-color:#909f97;
 }
 #header1 {
background-color: #643348;
text-align: center;
box-shadow: 2px 3px 2px #656f69;
 }
 footer {
   margin-top: 60px;
   padding: 30px;
   background-color: #643348;
   text-align: center;
   box-shadow:3px 3px 2px#656f69;
   
}
 #table1index {
margin-left: 550px;
color: #909f97;
text-shadow: 2px 3px 2px #452332;
}
li {
padding: 8px;
background-color:#643348;
box-shadow:2px 3px 2px#656f69;
}
/*Code learned outside of class*/
li:hover {
   background-color:#70515e ;
   }
ul{

list-style-type: none;
}
#nav1index {
width: 25%;
}

#article1index{
   float: right;
   width: 70%;
   text-align: center;
}
#article2index{
   float: right;
   width: 70%;
   text-align: center;
   margin-top: 50px;
}
#article3index{
   float: right;
   width: 70%;
   text-align: center;
   margin-top: 50px;
   
}
#article4index{
   float: right;
   width: 70%;
   text-align: center;
   margin-top: 50px;
  
}
#article5index{
   float: right;
   width: 70%;
   text-align: center;
   margin-top: 50px;
   margin-bottom: 20px;
  padding-left: 20px;
}
#h2firstindex {
   text-shadow:2px 3px 2px#452332

}
#h3secondindex {
   text-shadow:2px 3px 2px#452332;

}
#pfirstindex {
text-shadow:2px 3px 2px#452332;
}
#photo1971,#PhotoBio {
   box-shadow:2px 3px 2px#452332;
}
#photo1981{
   box-shadow:2px 3px 2px#452332;
}
#photo1988{
   box-shadow:2px 3px 2px#452332;
}
#photo1993{
   box-shadow:2px 3px 2px#452332;
}
article{
background-color:#643348 ;
box-shadow: 4px 4px 2px #656f69;
font-size: 18px;
}
/*Code not covered in class*/
a {
   color: #656f69;
}
/*Code not covered in class*/
a:hover{
   color: black;
}
#psecondindex {
   text-align: left;
   text-shadow:2px 3px 2px#452332;
}
#articlesection{
   margin-bottom: 1000px;
}
 /*Site Plan Page*/
 #h2firstsiteplan{
   text-shadow:2px 3px 2px#656f69;
   text-align: center;
   padding-bottom: 20px;
   border-bottom: 2px solid black;
 }
 #h2firstfavs{
   text-shadow:2px 3px 2px#656f69;
   text-align: center;
 }
 .siteplanpics {
    width: 40%;
    margin-top:  20px; 
    box-shadow:3px 3px 2px#656f69;
    margin-left: 470px;
 }
 .siteplancite {text-shadow: 2px 2px 2px #656f69;
text-align: center;
margin-left: 480px; ;
}
/*Form Page*/
form {
   padding: 20px;
   text-align: center;
   background-color: #643348;
margin-left: 200px;
margin-right: 200px;
text-shadow:2px 2px 2px #452332;
font-size: large;
box-shadow:3px 3px 2px#656f69;
border: 2px solid black;
margin-top: 50px;
}
 /*Opinions Page*/
 #table1,.trtableop,.thtableop,.tdtableop {
   width: 75%;
   align-items: center;
   box-shadow: 2px 2px 2px #656f69;
   margin:auto;
   background-color: #643348;
   border-collapse: collapse;
   border: 2px solid black;
   padding: 15px;
   text-shadow: 2px 2px 2px #452332;
 }
 #Knuckleduster {
 box-shadow: 3px 3px 2px #452332;
 margin-top: 15px;
 }
 #caption1 {
padding: 20px;
font-size: 20px;
text-shadow: 2px 2px 2px #656f69;
 }
 #AnglomaniaMelissaBlack {
   box-shadow: 3px 3px 2px #452332;
   margin-top: 15px;
   }
#PetraPendant {
      box-shadow: 3px 3px 2px #452332;
      margin-top: 15px;
      }
#Pirate{
      box-shadow: 3px 3px 2px #452332;
      margin-top: 15px;
         }
#Handbag,#TruePunk{
      box-shadow: 3px 3px 2px #452332;
      margin-top: 15px;
               }
   mark{
      background-color: #643348
   }
 #formpara {
    text-align: center;
    text-shadow: 2px 2px 2px #656f69;
    border-bottom: 2px solid black;
    padding-bottom: 20px;
 }
 /*About The Creator Page*/
 #Bio {
    padding: 20px;
    text-shadow: 2px 2px 2px #452332
 }
 #h3Bio {
   text-shadow: 2px 2px 2px #656f69
 }
 #PhotoBio {
    margin-top:50px ;
 }
 @media screen and (max-width: 880px) {
    #header1,#table1index {
margin-left: 40px;
text-align: left;
    }
    #photo1971,#photo1981,#photo1988,#photo1993{
       width: 35%;
    }
    #Knuckleduster,#AnglomaniaMelissaBlack,#PetraPendant,#Pirate,#Handbag,#TruePunk{
       width: 100%;
    }
    #nav1index {
       width: 90%;
    }
    .siteplanpics {
       margin-left: 0px;
    }
    .siteplancite {
       margin-left: 0px;
    }
   }

 
